language: julia
os:
  - linux
  - osx
julia:
  - 0.6
  - nightly
notifications:
  email: false
# script:
# - julia -e 'Pkg.clone(pwd())'
# - julia --check-bounds=yes --color=yes -e 'Pkg.test("NRRD", coverage=true)'
# - julia -e 'cd(Pkg.dir("NRRD")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(process_folder()); Codecov.submit(process_folder())'
